/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
    font-family: 'Lato', georgia;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(to top, #b0b5d6ec, #6c7ae0eb);
    text-align: center;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
